
@font-face {
    font-family: Mangueira;
    font-weight: 700;
    src: url("/fonts/MangueiraAlt-Bold.otf") format("opentype");
}
@font-face {
    font-family: Mangueira;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/MangueiraAlt-Regular.otf") format("opentype");
}

* {
    font-family: Mangueira, serif;
}